.home {
    // height: 100vh;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        justify-content: center;
        background-color: transparent!important;
        margin-left: 37%!important;
    }

    .logo{
        margin-left: 7%!important;
    }
}

@media (max-width: 768px) {
    .nav-link {
        margin: 1.2rem 0!important;
    }
    .home-name{
        font-size: 4rem!important;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #46adbb !important;
    margin-right: 0 !important;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
}

.navbar {
    padding: 1.5rem 2rem !important;
    background-color: transparent!important;
}

.nav-shadow{
    -webkit-box-shadow: 0 8px 6px -6px #dddddd;
    -moz-box-shadow: 0 8px 6px -6px #dddddd;
    box-shadow: 0 8px 6px -6px #dddddd;
}

.nav-link{
    margin-left: 3rem;
    text-transform: uppercase;
    padding: .6 1.6rem!important;
    &:hover, &:focus{
        background-color: #e5f6fe;
        border-radius: .5rem;
    }
}

.navbar-toggler {
    border: none !important;
}

.navbar-collapse{
    background: #f8f9fa !important;
}

.home-content{
    margin: 13% 0 0 0!important;
    background-color: transparent!important;
}

.home-intro{
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-greet{
        background-color: #e5f6fe;
        border-radius: 50%;
        padding: 6%;
    }

    .home-btn-cv{
        padding: .5rem 3rem!important;
        font-size: 1.5rem!important;
        color: #4dd0e1!important;
        border-color: #4dd0e1!important;
    }

    .home-btn-hire{
        background-color: #4dd0e1!important;
        padding: .5rem 3rem!important;
        font-size: 1.5rem!important;
    }
}

.down-btn{
    position: absolute;
    top: 85%;
    left: 48%;
    animation: nudge 2s linear infinite alternate;
    padding: 1rem;
    cursor: pointer;
    z-index: 999;
    border-radius: 50%;
    background-color:#fff;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
        ;

    .expand{
        color: #4dd0e1;
        font-size: 2.3rem;
    }
}

@media (max-width: 375px){
    .home-name{
        font-size: 3rem!important;
    }
}

.about{
    // height: 100vh;
    margin: 10% 0!important;
    .row{
        margin: 5%!important;
        padding: 5%!important;
    }

    .about-text{
        font-size: 1.5rem;
        line-height: 2;
        margin-left: .7rem;
    }
}

@keyframes nudge {
  0% {
      top: 80%;
  }
  100% {
      top: 85%;
  }
}
