.articles {
    background-color: rgb(84, 184, 252, 0.2);
    padding: 10% 0 5%;

    .row {
    margin: 0 15% 4rem !important;
    padding: 3rem;
    border-radius: 1rem;
    background-color: #fcfcfc;
    &:hover {
        cursor: pointer;
        background-color: rgb(252, 252, 252, 0.7);
    }
}
}




.footer {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(84, 184, 252, 0.1);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.article-text {
    font-size: 1.4rem !important;
    text-align: justify;
    line-height: 1.5;
}

.full-article-text {
    font-size: 1.6rem !important;
    text-align: justify;
    line-height: 2;
    color: rgb(0, 0, 0, 0.8) !important;
}

.subscribe {
    width: 35%;
    display: flex;
}

.email {
    margin-right: 2rem;
    font-size: 1.4rem !important;
}

.form-control {
    padding: 1.3rem !important;
}

.btn {
    text-transform: uppercase;
    font-size: 1.3rem !important;
}

.MuiSvgIcon-root {
    width: 1.5em !important;
    height: 1.5em !important;
}

.makeStyles-grey-9:hover {
    background-color: rgba(33, 33, 33, 0.8);
    cursor: pointer;
}

.article-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.skeleton-img {
    border-radius: 50%!important;
}

.article-link{
    text-decoration: none!important;
}

.skeleton-main-img{
    width: 100%;
    height: 350px;
}

.spinnerLoader{
    display: flex!important;
    justify-content: center;
    height: 50vh;
    align-items: center;
}

.back-btn.row {
    background-color: transparent;
    padding: .8rem 0;
    font-size: 1.6rem;
    margin-bottom: .5rem!important;

    &:hover{
        background-color: none!important;
        cursor: none;
    }
}

.back-btn-div{
    background-color: #fff;
    padding: .6rem 1rem;
    border-radius: 1rem;
    transition: all 1s ease-in-out;
    &:hover{
        padding-left: 1rem!important;
        transition: padding-left 1s ease-in-out;
    }
}

.card-header{
    padding: 0!important;
    background-color: transparent!important;
    margin-bottom: 1.5rem!important;
    
    .MuiTypography-body2{
        font-size: 1.6rem!important;
        margin-bottom: .4rem;
    font-family: "IBM Plex Sans"!important;

    }

    .MuiTypography-colorTextSecondary{
        font-size: 1.4rem!important;
    }
}

.error{
    color: rgb(190, 9, 9);
}

.error-message{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "IBM Plex Sans"!important;
}

@media (max-width: 768px) {
    .row {
        margin: 0 1% 4rem !important;
        padding: 2rem;
    }
    .article-img {
        height: 180px !important;
        width: 180px !important;
    }
    .articles {
        padding: 20% 0 5%;
    }
    .subscribe {
        width: 65%;
        display: flex;
    }
    .full-article-title {
        font-size: 2.5rem !important;
        margin: 2rem 0 !important;
        font-weight: bold !important;
    }
    .makeStyles-media-8 {
        height: 250px !important;
    }
    .error-message{
        height: 58vh;
    }
    #title{
        font-size: 20px!important;
    }
}

@media (max-width: 600px) {
    .row {
        margin: 0 1% 4rem !important;
        padding: 2rem 0.6rem;
    }
    .skeleton-img {
        border-radius: 0!important;
    }
    .article-img {
        height: 180px !important;
        width: 100% !important;
        border-radius: 0 !important;
    }
    .articles {
        padding: 20% 0 5%;
    }
    .subscribe {
        width: 80%;
        display: flex;
    }

    .footer {
        padding: 10% 0;
    }
}
